/* =========================
   HERO
========================= */
.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 180px 24px 80px;
    background-size: cover;
    background-position: top;
}

.hero__overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 70%,
            rgba(05, 05, 05));
}

/* =========================
   HERO TOP BAR
========================= */
.hero__topbar {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: min(1100px, calc(100% - 48px));
    padding: 25px 18px;
    border-radius: 18px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;

    background: rgba(0, 0, 0, 0.55);
    border: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
}

.hero__logo {
    display: flex;
    align-items: center;
    padding: 0px 0px;
}

.hero__logo img {
    height: 25px;
    display: flex;
    align-items: center;
    padding: 0px 0px;
}

.topbar__cta {
    border: 0;
    cursor: pointer;
    letter-spacing: 0.4px;
}

.topbar__cta:hover {
    filter: brightness(1.05);
}

/* =========================
   HERO CONTENT
========================= */
.hero__content {
    position: relative;
    z-index: 2;
    max-width: 750px;
    margin-top: 300px;
    text-align: center;
}

.hero__content h1 {
    font-size: 48px;
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: -0.02em;
    margin-bottom: 16px;
}

.hero__content h1 span {
    color: rgba(138, 182, 154);
}

.hero__content p {
    font-size: 17px;
    color: #ffffff;
    max-width: 600px;
    margin: 0 auto 32px;
}

.hero__cta button {
    font-size: 15px;
    padding: 15px 40px;
}

.hero__pill {
    display: inline-block;
    margin-bottom: 18px;
    padding: 8px 30px;
    border-radius: 999px;

    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.2px;

    color: #ffffff;
    background: rgba(05, 05, 05);
    border: 1px solid rgba(138, 182, 154);
}